<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MathQuizz/

    # Se o arquivo ou pasta existir, não reescrever
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirecionar tudo para index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>